body{
    color: aliceblue;
    background: url(./photo-1595950653106-6c9ebd614d3a.avif) no-repeat;
}

.titulo{
    display: flex;
    background-color: red;
    height: 10%;
    width: 20%;
    text-align: center;
    border: 2px solid green;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.titulo2{
    background-color: red;
    
    padding: 0px;
    width: 700px;
    text-align: center;
}

.titulo3{
    background-color: green;
  
    padding: 25px;
    width: 700px;
    text-align: center;
}

.total{
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.aqui{
    font-family: Arial, Helvetica, sans-serif;
}

.aqui2{
    font-family: 'Times New Roman', Times, serif;
}

.page4{
    background-color: greenyellow;
    width: 20%;
}

img{
    border-radius: 50%;
}

div img {
    width: 100%;
  }
//alterar aqui
  .container {
    display: flex; 
  } */
  
  .page4 {
    /* Add some margin or padding for better spacing between divs */
    margin: 0 10px; /* Example: 0px margin on top/bottom, 10px margin on left/right */ 

  }
  